.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
body{
  background-color: black;
  color:white;
  margin: 0;
  padding: 0;
}
h1{
  color: white;
  text-align: center;
  font-size: 22px;
  /* margin-top: 40px; */
  font-weight: bolder;
  margin: 0;
}
.form{
  text-align: center;
  /* font-size: 20px; */
  margin: 120px 500px 170px 490px;
  background-color: rgb(59, 56, 56);
  border-radius: 6px;
  padding-bottom: 15px;
  /* padding: 0; */
/*  
  padding-bottom: 20px; */
}
small{
    color: rgb(178, 229, 25);
    padding-bottom: 20px;
}
img{
    border-radius: 100%;
    padding-top: 20px;
}
/* h1, button, p, small {
    margin: 0;
    padding: 0; */
p{
    color: rgba(255, 255, 255, 0.718);
    font-size: 10px;
    margin-top: 13px;
    margin-bottom: 10px;
    /* padding: 0; */
}
button{
    color: white;
    font-size: 14px;
    margin: 5px 0 5px 0;
    padding: 5px 10px 5px 10px;
    background-color: rgb(72, 71, 71);
    border: none;
    border-radius: 8px;
    width: 80%;
    font-weight: 900;
}
@media screen  and (max-width: 768px) {
    .form {
      margin: 150px 50px 50px 50px;
      padding: 20px;
    }
  
    h1 {
      font-size: 18px;
    }
  
    p {
      font-size: 12px;
    }
  
    button {
      font-size: 13px;
      width: 100%;
    }
  
    img {
      width: 100px;
      height: 100px;
    }
  }
/* ZenBook (laptop) view */
@media screen and (min-width: 769px) and (max-width: 1366px) {
    .form {
      margin: 230px 170px;
      padding: 20px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    p {
      font-size: 13px;
    }
  
    button {
      font-size: 14px;
      width: 90%;
    }
  
    img {
      width: 120px;
      height: 120px;
    }
  }










